.page-drag {
	display: flex;
	position: relative;
	align-items: center;

	.logo-drag {
		position: absolute;
		top: -100%;
    transition: top 1s;
	}

	.hold-drag {
		width: 100%;
		.line {
			height: 1px;
			width: 60vw;
			background-color: #000000;
			position: relative;
		}
		.line::after {
			content: '';
		    width: 1px;
		    height: 19px;
		    background-color: #000000;
		    display: block;
		    position: absolute;
		    right: 0;
		    top: -9px;
		}
	}

	.nav-menu {
		grid-row: 3;
		position: absolute;
		bottom:50px;
    height:revert;
	}
}

.modal-load {
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}


.Spinner {
  position: relative;
  display: block;
  font-size: 10px;
  width: 200px;
  height: 200px;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
  }
}

.Spinner--disc {
  background-color: transparent;
  border: 5px solid #000;
  border-radius: 50%;
  transform-origin: 50% 50%;
  animation: disc 1200ms linear infinite;

  &::before {
    top: 60px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
  }
}

@keyframes disc {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

.loader-grid {
  position:absolute;
  top:0%;
  left:0%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width:100%;
}

// .loader-out {
//   // left:50%;
//   top:50%;
// }

.fall {
  -webkit-animation-name: falldown;
  -webkit-animation-duration: 2s;
  // -webkit-animation-timing-function: ease;
  animation-name: falldown;
  // transition-timing-function:cubic-bezier(0.2,0.5,0.3,1);
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

// .logo-down {
//   animation-name: logo-down;
//   animation-timing-function: ease-in;
//   animation-duration: 1s;
//   animation-fill-mode: forwards;
// }

// @-webkit-keyframes logo-down {
//   from {
//     top: -20%;
//   }
//   to {
//     top: 0%;
//   }
// }

// @keyframes logo-down {
//    from {
//     top: -20%;
//   }
//   to {
//     top: 0%;
//   }
// }
@-webkit-keyframes falldown {
  from {
    top: 0%;
  }
  to {
    top: 100%;
    opacity: 0;
  }
}

@keyframes falldown {
   from {
    top: 0%;
    left:0;
  }
  to {
    top: 100%;
    left:50%;
  }
}

#percent {
  font-size: 100px;
}

