.fixed-left {
  position: fixed;
  //offset of 82px (50px header + 32 wp-admin-menu)
  top: 82px;
  bottom: 100px;
  height: 80vh;
  left: 0px;
  width:250px;
  padding-left:50px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}


.current_page_item {
  align-self: flex-start;
  height:100%;
  position: relative;
}

.menu-line {
  width: 1px;
  height: 100%;
  transition: height 0.5s;
  background-color: #FFF;
  margin: 0 auto;
  animation-name: line-grow;
  animation-duration: 1s;
}

.menu-line::before {
  content: '';
  width: 9px;
  text-align:center;
  display: block;
  border-bottom: 1px solid  #FFF;
  margin-left: -4px;
}

/* The animation code */
@keyframes line-grow {
  from {height: 0;}
  to {height: 100%;}
}



.nav-menu, .menu-main-menu-container, #menu-main-menu {
	height: 100%;
  display: flex;
  align-items: flex-end;
	li {
    height: 100%;
		display: flex;
		justify-content: flex-end;
    flex-direction: column;
	}
}
.nav-menu ul{
	display: flex;
}

.nav-menu {
  position: relative;
	display: flex;
    display: flex;
    align-items: center;

	color: #FFF;
	@media (max-width: 1024px){
  	height: auto;

  }

	ul {
		margin: 0;
		padding: 0;

		li {
			margin-right: 20px;

			a {
				color: #FFF;
				text-decoration: none;
				font-family: PolySansRegular;
			}
		}
	}
}


.page-my-gear {
  .nav-menu {
    // position: relative;
    .menu-text {
      position: absolute;
      right: 121px;
      top: 41px;
    }
  }
}

.page-info {
   .nav-menu {
    position: relative;
    .menu-text {
      position: absolute;
      right: 56px;
      top: 41px;
    }
  }
}


