.current_page_item {
  align-self: flex-start;
  height:100%;
}
.menu-line {

  width: 1px;
  height: 100%;
  transition: height 0.5s;
  background-color: $greenAOS;
  margin: 0 auto;
  animation-name: line-grow;
  animation-duration: 1s;
}

.menu-line::before {
  content: '';
  width: 9px;
  text-align:center;
  background-color: $greenAOS;
  display: block;
  border-bottom: 1px solid $greenAOS;
  margin-left: -4px;
}

/* The animation code */
@keyframes line-grow {
  from {height: 0;}
  to {height: 100%;}
}



.nav-menu, .menu-main-menu-container, #menu-main-menu {
	height: 100%;
  display: flex;
  align-items: flex-end;
	li {
    height: 100%;
		display: flex;
		justify-content: flex-end;
    flex-direction: column;
	}
}
.nav-menu ul{
	display: flex;
}

.nav-menu {

	display: flex;
    display: flex;
    align-items: center;

	color: #FFF;
	@media (max-width: 1024px){
  	height: auto;

  }

	ul {
		margin: 0;
		padding: 0;

		li {
			margin-right: 20px;

			a {
				color: #FFF;
				text-decoration: none;
				font-family: PolySansRegular;
			}
		}
	}
}


