.page-my-gear {
  cursor: url('../images/clicker-white.png'), auto !important;


  .fixed-left {
    @media(max-width: $screen-s){
      position: revert;
      height: 50px;
      margin-bottom: 25px;
      padding-left:revert;
      margin-top: 75px;
    }
  }

  .logo-gear {
    @media (max-width: $screen-s){
      text-align: center;
      position: revert;
      writing-mode: revert;
    }
  }
}

.logo-gear {
  position: absolute;
  top:20px;
  right: 20px;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2;
  grid-gap: 20px;
  @media (max-width: 1024px){
  	grid-template-columns: 1fr;
  	grid-column: 1;
  }

  img {
    width:400px;
    @media (max-width: $screen-s){
      display: none;
    }
  }
}

.grid-2 {
  position: relative;
  margin-bottom: 100px;
  .social {
    @media (max-width: $screen-s){
        position: absolute;
        bottom: -20px;
        left:0;
    }
  }
}




.gear-item {
    position: relative;
    grid-column: 1;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;

    .gear-title {

    }
    .gear-plus {
      width: 30px;
      height: 30px;
      align-self: center;
      margin-right: 10px;
    }

  .gear-row {
    display: flex;
  	opacity: 0.5;
  	transition: opacity 0.5s;
  	cursor: url('../images/clicker-green.png'), auto !important;
    width: fit-content;

  }:hover {
  	opacity: 1;
  }
  .gear-description {
  	display: none;
  	width:50%;
    grid-column: 1;
  	@media (max-width: 1024px){
  	  	width:100%;
  	}
  }
}

  .gear-image {
    display: none;
    grid-column: 2;
    grid-row: 1;
    position: relative;

    img {
      width: 150px;
      position: absolute;
      right: 0;
      top: 0;
      @media (max-width: 1024px){
        display: none;
    }
    }
  }


  .left-bar-container {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 18px 1fr;
     @media (max-width: $screen-s){
        // grid-template-columns: 10px 1fr;
        column-gap: 15px;
    }
    .vertical-bar {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr auto;
    }
  }



