.single-project-img {
  width:100%;
  height: 70vh;
  object-fit: cover;
  transition: height 0.3s;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.img-small {
  height: 20vh;
}
.project-info-container {
  display: none;

}

.project-info-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  row-gap: 50px;
  position: relative;
  grid-auto-rows: 400px;
}
.separator-bar {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: black;
  z-index: 0;
}

.separator-bar::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: -5px;
}


.team {
  grid-column: 1;
  grid-row: 1;
  position: relative;
}

.sm-text-vertical {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 10px;
  left: -4px;
  top: 5px;
}

.team-name {
  margin-right: 10px;
  font-family: PolySansBulky;
  font-size: 35px;
  letter-spacing: 1.2px;
}

.team-role {
  font-family: PolySansRegular;
  font-size: 16px;
  margin-top:5px;
  letter-spacing: 0.4 px;

}

.image-right {
  grid-row: 1 / 3;
  grid-column: 2;
}
.image-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image-right img{
  width:100%;
}

.image-center {
  grid-row: 3;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  z-index: 1;
  img {
    width: 60%;
    margin: 0 auto;
  }
}


.more {
  border: 1px solid green;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}

.other-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  column-gap: 50px;
}
.project-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .video-veil {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    z-index: 2;
  }

  iframe {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
    height:100%;
    z-index: 1;
    // object-fit: cover;
  }
    .player .vp-controls-wrapper {
      display: none !important;
    }

  .project-anchor {
    position: absolute;
    font-size: 20px;
    font-family: PolySansBulky;
    text-decoration: none;
    z-index: 3;
  }

}


.other-title {
  font-family: PolySansBulky;
  font-size: 40px;
}
