@font-face {
  font-family: PolySansRegular;
  src: url('../fonts/PolySans-Neutral.woff');
}
@font-face {
  font-family: PolySansBulky;
  src: url('../fonts/PolySans-Bulky.woff');
}

$greenAOS: #44d36f;

$text-xl: 130px;
// $text-m: 48px;
$text-m: 38px;
// $text-s: 24px;
$text-s: 20px;
// $text-xs: 16px;
$text-xs: 12px;

$height-header: 50px;

$screen-s: 600px;


.cursor-green-tiny {
	cursor: url('../images/cursor-green-tiny.png'), auto !important;
}
.cursor-green-wide {
	cursor: url('../images/cursor-green-wide.png'), auto !important;
}
.hover-green-wide {
	cursor: url('../images/hover-green-wide.png'), auto !important;
}
.hover-green-tiny {
	cursor: url('../images/hover-green-tiny.png'), auto !important;
}
.cursor-black-tiny {
	cursor: url('../images/cursor-black-tiny.png'), auto !important;
}
.cursor-black-wide {
	cursor: url('../images/cursor-black-wide.png'), auto !important;
}
.hover-black-wide {
	cursor: url('../images/hover-black-wide.png'), auto !important;
}
.hover-black-tiny {
	cursor: url('../images/hover-black-tiny.png'), auto !important;
}
.cursor-white-tiny {
	cursor: url('../images/cursor-white-tiny.png'), auto !important;
}
.cursor-white-wide {
	cursor: url('../images/cursor-white-wide.png'), auto !important;
}
.hover-white-wide {
	cursor: url('../images/hover-white-wide.png'), auto !important;
}
.hover-white-tiny {
	cursor: url('../images/hover-white-tiny.png'), auto !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  // cursor: url('../images/clicker-green.png'), auto !important;
  cursor: inherit;
}
a:visited {
  color: unset;
}

.text-xl {
	font-size: $text-xl;
	@media (max-width: $screen-s){
 		font-size: calc(#{$text-xl} - 50px);
    }
}
.text-m {
	font-size: $text-m;
	@media (max-width: $screen-s){
 		font-size: calc(#{$text-m} - 16px);
    }
}
.text-s {
	font-size: $text-s;
	@media (max-width: $screen-s){
 		font-size: calc(#{$text-s} - 5px);
    }
}
.text-xs {
	font-size: $text-xs;
}

.text-it {
	font-style: italic;
}

.white {
	color: #FFF;
}
.green {
	color: $greenAOS;
}

.black {
	color: #000 !important;
}
.bg-black {
	background-color: #000;
}
.bg-green {
	background-color: $greenAOS;
}


.text-big {
	font-size: 48px;
	letter-spacing: 1.2px;
}

.poly-regular {
	font-family: PolySansRegular;
}
.poly-bulky {
	font-family: PolySansBulky;
}

.v-align-sup {
	vertical-align: super;
}

.text-vertical {
	 writing-mode: vertical-rl;
    // text-orientation: mixed;
}

.text-align-right {
	text-align: right;
}

.min-height-100 {
	min-height: 100vh;
}

.width-50 {
	width: 50%;
}
.width-100 {
  width:100%;
}
.height-100vh {
  height: 100vh;
}

.height-header {
	height: $height-header;
}

.pos-relative {
	position: relative;
}

.no-mobile {
  @media(max-width: $screen-s){
    display: none;
  }
}

.content-right {
  margin-left:250px !important;
}

.mobile-no-content-right {
  @media(max-width: $screen-s){
    margin-left: revert !important;
  }
}

.container {
  width: revert !important;
}

.width-fit {
  min-width:fit-content;
}

.row-center {
  display: flex;

}






