.logo-projects {
  width: 250px;
  padding-left: 50px;
}

.page-projects {
  .page-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  @media (max-width: 1024px){
    grid-template-columns: 1fr;
  }
}

  .nav-menu {
   
    @media (max-width: 1024px){
      grid-row: 2;
    }
  }

}
.category-container {
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 20px;
  row-gap: 30px;
}





a.project-anchor:hover {
  color: inherit;
}
