.logo-projects {
  width: 250px;
  padding-left: 50px;
}

.page-projects {

  // cursor: url('../images/clicker-white.png'), auto !important;
  
  .fixed-left {
    @media(max-width: $screen-s){
      position: revert;
      height: 50px;
      margin-bottom: 25px;
      padding-left:revert;
    }
  }

  // .nav-menu {

  //   @media (max-width: 1024px){
  //     grid-row: 2;
  //   }
  // }

  .check-me {
    margin-bottom: 100px;
    @media(max-width: $screen-s){
      margin-bottom: 50px;
      text-align:left;
      text-align: revert;
    }
  }

}
.category-container {
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 20px;
  row-gap: 30px;
}





a.project-anchor:hover {
  color: inherit;
}
