@import './_variables.scss';
@import './_home.scss';
@import './_single-project.scss';
@import './_work.scss';
@import './_my-gear.scss';
@import './_info.scss';

a:visited {
  color: unset;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
.bg-container {
  height: 100%;
}
.green-bg {
  background-color: #70CF79;
  height: 100vh;
  overflow:overlay;
}

.black-bg {
	background-color: #000;
	height: 100vh;
	overflow:overlay;
}

.page-wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
}

.nav-menu ul{
	display: flex;
}

.nav-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 70vh;
	align-items: space-between;

	ul {
		margin: 0;
		padding: 0;

		li {
			margin-right: 20px;

			a {
				color: #FFF;
				text-decoration: none;
				font-family: PolySansRegular;
			}
		}
	}
}



.menu-item::after {
  content: '';
  display: block;
  height:20px;
  width: 2px;
  background-color: blue;
  margin: 0 auto;
  border-top: 1px solid green;
  transition: height 0.3s;
}

.menu-item:hover::after{
  height: 65vh;
}

.menu-main-menu-container, .menu {
  height: 100%;
  display: flex;
  align-items: flex-end;
}


