@import './_variables.scss';
@import './_home.scss';
@import './_single-project.scss';
@import './_work.scss';
@import './_my-gear.scss';
@import './_info.scss';
@import './_menu.scss';




.bg-container {
  height: 100%;
}
.green-bg {
  background-color: #70CF79;
  height: 100vh;
  overflow:overlay;
}

.black-bg {
	background-color: #000;
	// height: 100vh;
	overflow:overlay;
}
.content-right {
  margin-left:250px;
}

.page-wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 20px;
	@media (max-width: 1024px){
  	grid-template-columns: 1fr;
  }
}



  .left-bar-container {
    .vertical-bar {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr auto;
    }
    column-gap: 20px;
    display: grid;
    grid-template-columns: 18px 1fr;
  }


