@import './_variables.scss';
@import './_home.scss';
@import './_single-project.scss';
@import './_work.scss';
@import './_my-gear.scss';
@import './_info.scss';
@import './_menu.scss';

h1 {
	color: $greenAOS;
	font-family: PolySansBulky;
	font-size: 130px !important;
}

.white {
	color: #FFF;
}
.green {
	color: $greenAOS;
}
.bg-green {
	background-color: $greenAOS;
}
.text-sm-it {
	font-size: 16px;
	font-style: italic;
}

.text-small {
	font-size: 16px;
}

.text-big {
	font-size: 48px;
	letter-spacing: 1.2px;
}

.poly-regular {
	font-family: PolySansRegular;
}
.poly-bulky {
	font-family: PolySansBulky;
}

.description {
	font-family: PolySansRegular;
	font-size: 24px;
	letter-spacing: -0.25px;
}

a:visited {
  color: unset;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
.bg-container {
  height: 100%;
}
.green-bg {
  background-color: #70CF79;
  height: 100vh;
  overflow:overlay;
}

.black-bg {
	background-color: #000;
	// height: 100vh;
	overflow:overlay;
}

.page-wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 20px;
	@media (max-width: 1024px){
  	grid-template-columns: 1fr;
  }
}

.v-align-sup {
	vertical-align: super;
}

.vertical-text {
	 writing-mode: vertical-rl;
    // text-orientation: mixed;
}


