@font-face {
  font-family: PolySansRegular;
  src: url("../fonts/PolySans-Neutral.woff"); }

@font-face {
  font-family: PolySansBulky;
  src: url("../fonts/PolySans-Bulky.woff"); }

.cursor-green-tiny {
  cursor: url("../images/cursor-green-tiny.png"), auto !important; }

.cursor-green-wide {
  cursor: url("../images/cursor-green-wide.png"), auto !important; }

.hover-green-wide {
  cursor: url("../images/hover-green-wide.png"), auto !important; }

.hover-green-tiny {
  cursor: url("../images/hover-green-tiny.png"), auto !important; }

.cursor-black-tiny {
  cursor: url("../images/cursor-black-tiny.png"), auto !important; }

.cursor-black-wide {
  cursor: url("../images/cursor-black-wide.png"), auto !important; }

.hover-black-wide {
  cursor: url("../images/hover-black-wide.png"), auto !important; }

.hover-black-tiny {
  cursor: url("../images/hover-black-tiny.png"), auto !important; }

.cursor-white-tiny {
  cursor: url("../images/cursor-white-tiny.png"), auto !important; }

.cursor-white-wide {
  cursor: url("../images/cursor-white-wide.png"), auto !important; }

.hover-white-wide {
  cursor: url("../images/hover-white-wide.png"), auto !important; }

.hover-white-tiny {
  cursor: url("../images/hover-white-tiny.png"), auto !important; }

a {
  color: inherit !important;
  text-decoration: none !important;
  cursor: inherit; }

a:visited {
  color: unset; }

.text-xl {
  font-size: 130px; }
  @media (max-width: 600px) {
    .text-xl {
      font-size: calc(130px - 50px); } }

.text-m {
  font-size: 38px; }
  @media (max-width: 600px) {
    .text-m {
      font-size: calc(38px - 16px); } }

.text-s {
  font-size: 20px; }
  @media (max-width: 600px) {
    .text-s {
      font-size: calc(20px - 5px); } }

.text-xs {
  font-size: 12px; }

.text-it {
  font-style: italic; }

.white {
  color: #FFF; }

.green {
  color: #44d36f; }

.black {
  color: #000 !important; }

.bg-black {
  background-color: #000; }

.bg-green {
  background-color: #44d36f; }

.text-big {
  font-size: 48px;
  letter-spacing: 1.2px; }

.poly-regular {
  font-family: PolySansRegular; }

.poly-bulky {
  font-family: PolySansBulky; }

.v-align-sup {
  vertical-align: super; }

.text-vertical {
  writing-mode: vertical-rl; }

.text-align-right {
  text-align: right; }

.min-height-100 {
  min-height: 100vh; }

.width-50 {
  width: 50%; }

.height-header {
  height: 50px; }

.pos-relative {
  position: relative; }

@media (max-width: 600px) {
  .no-mobile {
    display: none; } }

.content-right {
  margin-left: 250px !important; }

@media (max-width: 600px) {
  .mobile-no-content-right {
    margin-left: revert !important; } }

.container {
  width: revert !important; }

.page-home {
  position: relative; }
  .page-home .logo-home {
    position: absolute;
    top: 50px;
    left: 50px; }
  .page-home .nav-menu {
    position: fixed;
    bottom: 25px;
    left: 50px;
    height: revert; }
  .page-home .home-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 37vh 37vh;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 50px; }
    .page-home .home-grid .img-wrap {
      width: 370px;
      height: 215px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 10px solid;
      border-right: 10px solid;
      position: relative; }
      .page-home .home-grid .img-wrap .genre {
        position: absolute;
        top: 0;
        left: -30px; }
    .page-home .home-grid img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .page-home .home-grid .img-text {
      color: #FFF;
      position: absolute;
      text-align: center; }
    .page-home .home-grid .item1, .page-home .home-grid .item4, .page-home .home-grid .item5, .page-home .home-grid .item8 {
      margin: 100px 0; }
    .page-home .home-grid .item2, .page-home .home-grid .item3, .page-home .home-grid .item6, .page-home .home-grid .item7 {
      margin: 0; }
    .page-home .home-grid .item1, .page-home .home-grid .item3, .page-home .home-grid .item5, .page-home .home-grid .item7 {
      grid-row: 1; }
    .page-home .home-grid .item2, .page-home .home-grid .item4, .page-home .home-grid .item6, .page-home .home-grid .item8 {
      grid-row: 2; }
  .page-home .nav-menu .text-check {
    position: absolute;
    bottom: 0;
    left: 45vw;
    width: max-content; }

.single-project-img {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.single-project-img iframe,
.single-project-img object,
.single-project-img embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.project-info-container {
  display: none;
  position: relative; }

.project-info-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  row-gap: 100px;
  position: relative;
  padding-bottom: 100px; }

.separator-bar {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: black;
  z-index: 0;
  transition: width 0.5s; }

.separator-bar-wider {
  width: 5px; }

.separator-bar-wider:after {
  width: 0px !important; }

.separator-bar::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: -4px;
  transition: width 0.1s; }

.team {
  grid-column: 1;
  grid-row: 1;
  position: relative; }

.sm-text-vertical {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 10px;
  left: -4px;
  top: 5px; }

.team-name {
  margin-right: 10px;
  font-family: PolySansBulky;
  font-size: 35px;
  letter-spacing: 1.2px; }

.team-role {
  font-family: PolySansRegular;
  font-size: 16px;
  margin-top: 5px;
  letter-spacing: 0.4 px; }

.image-right {
  grid-row: 1;
  grid-column: 2; }

.image-left img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.image-right img {
  width: 100%; }

.image-center {
  grid-row: 2;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  z-index: 1; }
  .image-center img {
    width: 60%;
    margin: 0 auto; }

.more {
  height: 30px;
  width: 30px; }

.close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: -20px;
  z-index: 999; }

.other-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  column-gap: 20px; }

.project-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .project-container span {
    position: absolute;
    margin: 0 30px; }
  .project-container a {
    width: 100%;
    height: 100%; }
  .project-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 20px;
    transition: padding 0.5s; }
  .project-container .project-anchor {
    position: absolute;
    font-size: 20px;
    font-family: PolySansBulky;
    text-decoration: none;
    z-index: 3; }

.project-container:hover img {
  padding: 0; }

.project-container:hover ~ .separator-bar {
  width: 4px; }

.project-container:hover ~ .separator-bar::after {
  display: none; }

.other-title {
  font-family: PolySansBulky;
  font-size: 40px; }

.logo-projects {
  width: 250px;
  padding-left: 50px; }

@media (max-width: 600px) {
  .page-projects .fixed-left {
    position: revert;
    height: 50px;
    margin-bottom: 25px;
    padding-left: revert; } }

.page-projects .check-me {
  margin-bottom: 100px; }
  @media (max-width: 600px) {
    .page-projects .check-me {
      margin-bottom: 50px;
      text-align: left;
      text-align: revert; } }

.category-container {
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 20px;
  row-gap: 30px; }

a.project-anchor:hover {
  color: inherit; }

@media (max-width: 600px) {
  .page-my-gear .fixed-left {
    position: revert;
    height: 50px;
    margin-bottom: 25px;
    padding-left: revert;
    margin-top: 75px; } }

@media (max-width: 600px) {
  .page-my-gear .logo-gear {
    text-align: center;
    position: revert;
    writing-mode: revert; } }

.logo-gear {
  position: absolute;
  top: 20px;
  right: 20px; }

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2;
  grid-gap: 20px; }
  @media (max-width: 1024px) {
    .grid-1 {
      grid-template-columns: 1fr;
      grid-column: 1; } }
  .grid-1 img {
    width: 400px; }
    @media (max-width: 600px) {
      .grid-1 img {
        display: none; } }

.grid-2 {
  position: relative;
  margin-bottom: 100px; }
  @media (max-width: 600px) {
    .grid-2 .social {
      position: absolute;
      bottom: -20px;
      left: 0; } }

.gear-item {
  position: relative;
  grid-column: 1;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px; }
  .gear-item .gear-plus {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-right: 10px; }
  .gear-item .gear-row {
    display: flex;
    opacity: 0.5;
    transition: opacity 0.5s;
    width: fit-content; }
  .gear-item :hover {
    opacity: 1; }
  .gear-item .gear-description {
    display: none;
    width: 50%;
    grid-column: 1; }
    @media (max-width: 1024px) {
      .gear-item .gear-description {
        width: 100%; } }

.gear-image {
  display: none;
  grid-column: 2;
  grid-row: 1;
  position: relative; }
  .gear-image img {
    width: 150px;
    position: absolute;
    right: 0;
    top: 0; }
    @media (max-width: 1024px) {
      .gear-image img {
        display: none; } }

.left-bar-container {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 18px 1fr; }
  @media (max-width: 600px) {
    .left-bar-container {
      column-gap: 15px; } }
  .left-bar-container .vertical-bar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto; }

.page-info {
  height: 100vh;
  position: relative; }
  .page-info .height-header {
    height: auto; }
  @media (max-width: 600px) {
    .page-info .logo-info {
      text-align: left;
      font-size: calc(130px - 75px); } }
  @media (max-width: 600px) {
    .page-info .text-xl {
      font-size: calc(130px - 75px); } }
  @media (max-width: 600px) {
    .page-info .fixed-left {
      position: revert;
      height: 50px;
      margin-bottom: 25px;
      padding-left: revert; } }
  @media (max-width: 600px) {
    .page-info .width-50 {
      width: 100%; } }
  .page-info .description {
    width: 50%; }
  .page-info .text-check {
    position: absolute;
    bottom: 100px;
    right: 0; }
    @media (max-width: 600px) {
      .page-info .text-check {
        position: revert;
        margin-bottom: 50px; } }

.fixed-left {
  position: fixed;
  top: 82px;
  bottom: 100px;
  left: 0px;
  width: 250px;
  padding-left: 50px; }

.current_page_item {
  align-self: flex-start;
  height: 100%;
  position: relative; }

.menu-line {
  width: 1px;
  height: 100%;
  transition: height 0.5s;
  background-color: #FFF;
  margin: 0 auto;
  animation-name: line-grow;
  animation-duration: 1s; }

.menu-line::before {
  content: '';
  width: 9px;
  text-align: center;
  display: block;
  border-bottom: 1px solid  #FFF;
  margin-left: -4px; }

/* The animation code */
@keyframes line-grow {
  from {
    height: 0; }
  to {
    height: 100%; } }

.nav-menu, .menu-main-menu-container, #menu-main-menu {
  height: 100%;
  display: flex;
  align-items: flex-end; }
  .nav-menu li, .menu-main-menu-container li, #menu-main-menu li {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }

.nav-menu ul {
  display: flex; }

.nav-menu {
  position: relative;
  display: flex;
  display: flex;
  align-items: center;
  color: #FFF; }
  .nav-menu ul {
    margin: 0;
    padding: 0; }
    .nav-menu ul li {
      margin-right: 20px; }
      .nav-menu ul li a {
        color: #FFF;
        text-decoration: none;
        font-family: PolySansRegular; }

.page-my-gear .nav-menu .menu-text {
  position: absolute;
  right: 121px;
  top: 41px; }

.page-info .nav-menu {
  position: relative; }
  .page-info .nav-menu .menu-text {
    position: absolute;
    right: 56px;
    top: 41px; }

.page-drag {
  display: flex;
  position: relative;
  align-items: center; }
  .page-drag .logo-drag {
    position: absolute;
    top: 0; }
  .page-drag .hold-drag {
    width: 100%; }
    .page-drag .hold-drag .line {
      height: 1px;
      width: 60vw;
      background-color: #000000;
      position: relative; }
    .page-drag .hold-drag .line::after {
      content: '';
      width: 1px;
      height: 19px;
      background-color: #000000;
      display: block;
      position: absolute;
      right: 0;
      top: -9px; }
  .page-drag .nav-menu {
    grid-row: 3;
    position: absolute;
    bottom: 50px;
    height: revert; }

.bg-container {
  height: 100%; }

.green-bg {
  background-color: #70CF79;
  height: 100vh;
  overflow: overlay; }

.black-bg {
  background-color: #000;
  overflow: overlay; }

.page-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px; }
  @media (max-width: 1024px) {
    .page-wrapper {
      grid-template-columns: 1fr; } }
